* {
  	box-sizing: border-box;
  	font-family: sans-serif;
  	font-size: 18px;
}
body {
  	background-color: #eb7a34;
  	margin: 0;
}
.content {
  	width: 1000px;
  	margin: 0 auto;
}
.content h2 {
  	margin: 0;
  	padding: 25px 0;
  	font-size: 22px;
  	border-bottom: 1px solid #ffffff;
  	color: #ffffff;
}

